@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


*{
    font-family: "Inter", sans-serif;
}



/* VARIABLES */

/*BACKGROUND COLORS*/
$navbar-burger-bg: #e9e8ed;
$search-buttongroup-bg: #f3f4f8;
$main-bg: #f5f8ff;
$content-bg: #fcfcfc;
$footer-bg: #f5f8ff;
$footer-bottom-bg: #434ce7;

/* COLORS*/
$main-blue: #434ce7;
$main-light-blue: #dfeafe;



@mixin sectiontitle(){
    color: $main-blue;
    display: flex;
    gap: 15px;
    hr{
        width: 20px;
        border: 1px solid $main-blue;
        opacity: 1;
        align-self: center;
    }
    h6{
        margin: 0px !important;
        align-self: center;
    }
}

@mixin button-blue(){
    background-color: $main-blue;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    &:hover{
        background-color: darken($color: $main-blue, $amount: 5%);
    }
}

@mixin button-light-blue(){
    background-color: $main-light-blue;
    color: black;
    padding: 5px 10px 5px 10px;
    max-width: 150px;
    border: none;
    border-radius: 5px;
    &:hover{
        background-color: darken($color: $main-blue, $amount: 5%);
        color: white;
    }
}


/* NAVBAR STYLING*/
.navbar{
    background-color: white;
    a{
        text-decoration: none;
        color: black;
    }
    .dropdown-menu{
        border: none;
    }
    .dropdown-toggle::after{
        display: none !important;
    }
    .nav-link:hover, .dropdown-item:hover {
        color: $main-blue;
    }
    .dropdown-item:active{
        background-color: $main-blue;
        color: white;
    }
    .nav-link-home{
        color: $main-blue !important;
    }
    
    .navbar-login-btn{
        background-color: white;
        color: black;
        transition: 0.5s !important;
        padding: 10px 20px 10px 20px;
        border: none;
        border-radius: 5px;
        &:hover{
            background-color: $main-blue;
            color: white;
        }

    }
    .navbar-signup-btn{
        @include button-blue()
    }
    .navbar-toggler{
        border: none;
        background-color: $navbar-burger-bg;
    }
}

// Slide in animation for dropdown hover  (https://stackoverflow.com/questions/71879785/dropdown-menu-transition-bootstrap-5)
@media (min-width: 200px) {
    .animate {
      animation-duration: 0.3s;
      animation-fill-mode: both;
    }
  }
  @keyframes slidein {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  .slidein {
    animation-name: slidein;
  }
  

// Styling for dropdown menu on deskstop ( >= LG)
@media only screen and (min-width: 992px) {
    .navbar{
        .dropdown-menu{
            border: none;
            width: 200px;
            border-top: 3px solid $main-blue;
            .dropdown-item{
                border-bottom: 1px solid rgba($color: black, $alpha: 0.1); 
            }   
        }
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }
  }


/*Remove outline on burger menu click*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}




/* MAIN CONTENT STYLE*/
.main-content{
    background-color: $main-bg;
}

// Fixed height so it dosent overlap with House Search 
.fixed-height{
    height: 550px; // Responsive TODO
}

// Media query to show background image when size is < LG Breakpoint
@media only screen and (max-width: 992px) {
    .mobile-bg-img {
        position: relative; 
        height: 550px;
        width: 100%;
        z-index: 1;
    }
    
    .mobile-bg-img::before {    
          content: "";
          background-size: cover;
          position: absolute;
          background-image: url(../gfx/hero.jpg);
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          opacity: 0.1;
          z-index: 1 !important;
    }
  }

// Background image for desktop on right side
.desktop-bg-img{
    background-image: url(../gfx/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* HOUSE SEARCH STYLING*/
.house-search{
    margin-top: -80px;
    .btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
        color: black;
        background-color: $main-light-blue;
      }
      .search-group-btn{
        border: none !important;
        outline: none !important;
        background-color: $search-buttongroup-bg;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 70px;
        font-weight: 500;
        &:hover{
            background-color: $search-buttongroup-bg;
        }
      }
    .house-search-form{
        border-top-left-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .form-label{
        font-size: 14px
    }
    .form-select {
        background-image: none
    }
    .input-group-text{
        background-color: white;
        border-left: none;
        img{
            stroke: $main-blue !important;
        }
    }
    .form-select, .form-control{
        border-right: none !important;
        &:focus{
            box-shadow: none;
            border-color: rgba($color: black, $alpha: 0.1);
        }
    }
    
}


/* POPULAR HOUSES SECTION*/
.popular-section-subtitle{
    @include sectiontitle()
}

/* House Card */
.house-card{
    .card-img-hover{   
        overflow: hidden;
        .card-img{
            transition: transform .5s ease;
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:hover .card-img{
            transform: scale(1.2);
        }
    }
    .house-card-img-button{
        left: 20px;
        top: 15px;
        background-color: $main-blue;
        color: white;
        padding: 5px 10px 5px 10px;
        border: none;
        border-radius: 10px;
        &:hover{
            background-color: darken($color: $main-blue, $amount: 5%);
        }
    }
    
    .house-card-rent-button{
        color: $main-blue;
        background-color: $main-light-blue;
        border-radius: 5px;
        padding: 2px 5px 2px 5px;
        font-size: small;
    }
    .house-card-text{
        font-size: 12px; 
    }
    .card-footer{
        background-color: rgba($color: black, $alpha: 0.0); 
    }
    
}   

/* ABOUT US SECTION STYLING*/
.about-us-section{
    background-color: $content-bg;
    
    .about-us-left{
        display: flex;
        &:hover .about-us-left-play{
            animation: pulse 2s infinite;
    
        }
        .about-us-left-play{
            position: absolute;
            bottom: 40%;
            left: -10%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $main-blue;
            border: 2px solid white;
            text-align: center;
            cursor: pointer;
            i{
                color: white;
                padding-top: 22px;
            }
        }
        img{
            border-radius: 20px;
            max-width: 100%;
        }
    }

    .about-us-right-subtitle{
        @include sectiontitle()
    }
    .about-us-right-image{
        max-width: 25px;
    }
    .about-us-right-text{
        font-size: 15px;
    }
    .about-us-right-btn{
        @include button-blue()
    }
}

// Keyframes Pulse Animation https://codepen.io/olam/pen/KKMvWM
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
      box-shadow: 0 0 0 0 rgba(255,255,255, 1);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
        box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }


/* ABOUT US PLAY BUTTON MEDIA QUERY*/
@media only screen and (max-width: 520px) {
    .about-us-left-play{
        left: -14% !important;
        scale: 0.9;
        
    }
  }

@media only screen and (max-width: 400px) {
    .about-us-left-play{
        left: -18% !important;
        scale: 0.9
    }
  }


/*CITIES STYLING*/
.cities-subtitle{
    @include sectiontitle()
}

.cities-img-hover{
    overflow: hidden;
    padding-bottom: 100%;
    .cities-img{
        transition: transform .5s ease;
        filter: brightness(50%);
        object-fit: cover;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    &:hover .cities-img{
        transform: scale(1.2);
    }
    .cities-text{
        left: 30px;
        bottom: 10px;
    }
}


/*CONTACT US TODAY*/
.contact-section{
    background-color: $content-bg;
    .contact-right-subtitle{
        @include sectiontitle()
    }
    .contact-right-btn{
        @include button-blue()
    }
    .contact-right-image{
        max-width: 25px;
    }
    .contact-right-text{
        font-size: 15px;
    }
}


/* TESTMONIAL*/
.testmonial-section-subtitle{
    @include sectiontitle()
}
.testmonial-title{
    max-width: 451px;
}
.slider-button{
    background-color: white;
    border: none;
}
.card{
    border-color: rgba($color: black, $alpha: 0.1);
}

/* https://www.codeply.com/p/0CWffz76Q9  SLIDER STYLING USING CODEPLY EXAMPLE*/ 
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/*MD BREAKPOINT 2 COLS*/
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(50%); /*100 / 2 = 50% */
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-50%); /*100 / 2 = 50% */
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
    transform: translateX(0);
    }

}

/*LG BREAKPOINT 3 COLS*/
@media (min-width: 992px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33%); /*100 / 3 = 33,33% */
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33%); /*100 / 3 = 33,33% */
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
    transform: translateX(0);
    }

}

/* FAQ STYLING*/
.faq-section{
    background-color: $content-bg;
    .faq-section-subtitle{
        @include sectiontitle()
    }
}

.accordion-button{
    &:not(.collapsed){
        background-color: $main-blue !important;
        transition: 0.5s;
        box-shadow: none;
        color: white;
        &::after{
            background-image: url(../gfx/minus-solid.svg);
        }
    }
    &:focus{
        box-shadow: none;
    }
    &::after{
        background-image: url(../gfx/plus-solid.svg);
    }
}

.custom-accordion .accordion-item {
    background-color: white;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    overflow: hidden; 
}

.accordion-item {
    border: 0.73px solid rgba($color: grey, $alpha: 0.2) !important;
    border-top: 0.73px solid rgba($color: grey, $alpha: 0.2) !important;
  }




/*BLOG STYLING*/
.blog-section{
    
    .blog-section-subtitle{
        @include sectiontitle();
    }
    
    .blog-button{
        @include button-light-blue()       
    }
    .blog-img-hover{   
        overflow: hidden;
        .blog-img{
            transition: transform .5s ease;
            width: 100%;
        }
        &:hover .blog-img{
            transform: scale(1.2);
        }
    }
    .blog-text{
        height: 40px /*Responsive ? TODO*/
    }
}

/*FOOTER MAIN STYLING*/
.footer-main{
    background-color: $footer-bg;
    a:hover{
        transition: 0.5s;
        transform: translateX(5px);
        color: $main-blue !important;
    }
}
/*FOOTER BOTTOM STYLING*/
.footer-bottom{
    background-color: $footer-bottom-bg;
    color: white;
}



